/* artikel */

#artikel {
    margin-top: 10vh;
}

#artikel .swiper-slide {
    background-size: cover;
    background-position: center;
    background-color: gray;
}

#artikel .thumbSwiper2 {
    height: 70vh;
    width: 100%;
}

#artikel .galeriSwiper {
    height: 20vh;
    box-sizing: border-box;
    padding: 10px 0;
}

#artikel .galeriSwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

#artikel .galeriSwiper .swiper-slide-thumb-active {
    opacity: 1;
}

#artikel .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

#artikel .caption-swiper {
    position: absolute;
    margin: -120px 20px 0px;
    color: white;
}

/* Galeri */

#galeri {
    margin-top: 10vh;
    max-width: 1300px;
    margin: auto;
}

#galeri h3 {
    text-align: center;
}

#galeri .img-galeri {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    gap: 10px;
    padding: 0%;
}

#galeri img {
    width: 25vh;
    margin: 5px;
    filter: drop-shadow(0px 1px 3px rgb(129, 129, 129));
}

#galeri img:hover {
    filter: drop-shadow(0px 5px 3px rgb(143, 143, 143));
}

#galeri .lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5em;
    background: rgba(0, 0, 0, 0.8);
}

#galeri .lightbox:target {
    display: block;
}

#galeri .lightbox-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    margin: 10px auto; /* Center vertically and horizontally */
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    /* padding: 15px; */
}

#galeri .lightbox-content span {
    display: block;
    width: 100%;
    height: 100%; /* Adjust the height for the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#galeri .lightbox-content li {
    margin-top: 10px; /* Adjust the margin as needed */
    font-size: 20px;
    text-align: justify;
    color: white;
}

#galeri .galery-content {
    background-color: rgb(69, 69, 69);
    width: 100%;
}
#galeri .galery-content ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: start;
}

#galeri .galery-content li {
    list-style-type: none;
}
#galeri hr {
    margin-bottom: 4vh;
}
